version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: midnight_ride
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./server/init.sql:/docker-entrypoint-initdb.d/init.sql

  backend:
    build: ./server
    ports:
      - "0.0.0.0:3001:3001"
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: midnight_ride
      JWT_SECRET: dev_secret
      VAPID_PUBLIC_KEY: BMYZhUBcK63nwNekE9VmHMLErsMxgkxGQWlzJqS_T--lsVOkbk6JT9D6RVGhgUBFTP_SQqo1molh3_e3zYPGa50
      VAPID_PRIVATE_KEY: Dbpb2DkeZvI9Jj2K3Ujk_PkkxcFl8tL8QniTKlOAIeE
      VAPID_EMAIL: mailto:user@example.com
      PORT: 3001
    depends_on:
      - postgres

  frontend:
    build: 
        context: .
        dockerfile: Dockerfile
    ports:
      - "0.0.0.0:3000:80"
    depends_on:
      - backend

volumes:
  postgres_data:
